/* Barcha elementlar uchun umumiy reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Umumiy container */
.container {
  max-width: 1200px;
  width: 90%;      /* responsive qilish uchun */
  margin: 0 auto;  /* markazlashtirish */
}

/* Body uchun umumiy font va background */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}


ul {
    list-style: none;
}
/* Linklar uchun umumiy style */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttonlar uchun umumiy style */
button {
  cursor: pointer;
  border: none;
  background: none;
}
